.modal_overlay {
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10;
}

.modal_content {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #F9F9F9;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;


    animation-name: modalFadeIn;
    animation-duration: 0.3s;
}

.modal_open {
    overflow-y: hidden;

}

@keyframes modalFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal_header_cart {
    height: 46px;
    background: linear-gradient(180deg, rgba(129, 106, 255, 0.8) 0%, rgba(170, 0, 255, 0.8) 100%);
    border-radius: 20px 20px 0 0;
    padding: 11px 16px 10px 44px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.modal_header_label {
    font-weight: 500;
    font-size: 20px;
    color: #F0F0F0;
}

.modal_header_close {
    width: 27px;
    height: 27px;
    cursor: pointer;
}


.modal_wrapper {
    height: 127px;
    padding: 19px 30px 19px 30px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.modal_wrapper_input {
    width: 296px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    outline: none;
    transition: transform 0.2s ease, color 0.2s ease;
}

.modal_wrapper_input::placeholder {
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}

.modal_wrapper_button {
    width: 296px;
    height: 32px;
    background: #1E5BA7;
    border-radius: 10px;
    border: thin solid #1E5BA7;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    transition: 0.2s ease-in;
}

.modal_wrapper_button:hover {
    background: #FFFFFF;
    color: #1E5BA7;
}
