/* Стили к модальным окнам покупки */

.modal_buy_header {
    width: 560px;
    height: 51px;
    background: linear-gradient(180deg, rgba(129, 106, 255, 1), rgba(170, 0, 255, 1) 100%);
    border-radius: 20px 20px 0 0;
    padding: 15px 200px 10px 200px;
    box-sizing: border-box;
    text-align: center;
}

.modal_buy_main {
    height: 204px;
    padding: 11px 18px 18px 37px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.modal_buy_name {
    color: #000;
    font-size: 18px;
    margin-top: 10px;
}

.modal_buy_close {
    width: 27px;
    height: 27px;
    cursor: pointer;
    position: absolute;
    right: -222px;
    top: -17px;
}

.modal_buy_icon {
    position: absolute;
    left: 200px;
    top: 17px;
}

.modal_buy_buttons {
    width: 560px;
    height: 70px;
    display: flex;
    flex-direction: row;
}

.modal_buy_button-close {
    width: 280px;
    border-radius: 0 0 0 20px;
    text-align: center;
    background: #F0F0F0;

    color: #242424;
    font-size: 20px;
    font-weight: 500;
    transition: ease-out 0.4s;
}

.modal_buy_button-close:hover {
    background: #d3d3d3;
}

.modal_buy_button-next {
    width: 280px;
    border-radius: 0 0 20px 0;
    text-align: center;
    background: #7C64FF;

    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    transition: ease-out 0.4s;
}

.modal_buy_button-next:hover {
    background: #F0F0F0;
    color: #7C64FF;
}

.modal_buy_select {
    width: 205px;
    height: 39px;
    border-radius: 15px;
    background: #BB71F1;
    color: #FFFFFF;
    text-align: center;
    margin-top: 26px;
    border: none;
    outline: none;

    font-size: 16px;
    font-weight: 400;
    font-family: Montserrat, sans-serif;
}

.modal_buy_total {
    color: #000;
    font-size: 30px;
    font-weight: 500;
    text-align: right;
}

.modal_buy_agree {
    display: flex;
    align-items: center;

    color: #000;
    font-size: 16px;
    font-weight: 300;
    user-select: none;
}

.modal_buy_checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.modal_buy_checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}
.modal_buy_checkbox+label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 19px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.modal_buy_checkbox:checked+label::before {
    border-color: rgba(129, 106, 255, 1);
    background-color: rgba(129, 106, 255, 1);
    background-image: url("../../../assets/checkbox-icon.svg");
    background-size: 15px 15px;
}

.modal_buy_checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: rgb(144, 123, 255);
}