.select_container {
    width: 209px;
    height: 39px;
    border-radius: 15px;
    background: #BB71F1;
    color: #FFFFFF;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    box-sizing: border-box;

    font-size: 16px;
    font-weight: 400;
}

.select_value {
    flex-grow: 1;
    user-select: none;
}

.select_caret {
    translate: 0 4px;
    border: 6px solid transparent;
    border-top-color: rgba(255, 255, 255, 1);
}

.caret_rotate {
    transform: translateY(-50%) rotate(180deg);
    transition: transform 0.3s ease-out;
}

.select_options {
    position: absolute;
    border-radius: 15px;
    background: #BB71F1;
    list-style: none;
    border: none;
    outline: none;
    width: 209px;
    max-height: 85px;
    padding: 0;
    left: 25px;
    top: 150px;
    display: none;
    z-index: 100;
    text-align: center;
    box-sizing: border-box;
}

.select_options_show {
    display: block;
}

.select_option {
    padding: 5px;
    cursor: pointer;
    font-size: 14px;
}

.selected_option {
    padding: 5px;
    color: #BB71F1;
    background: #FFFFFF;
    border-radius: 15px;
    font-size: 16px;
    border: 2px solid #BB71F1;
}

.select_highlight {
    color: #BB71F1;
    background: #FFFFFF;
    border-radius: 15px;
}