.about {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center
}

.about_wrapper {
    height: 250px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    text-align: left;
}

.about_image {
    width: 450px;
    height: 450px;
    margin-top: 100px;
}

.about_label {
    font-size: 46px;
    font-weight: 700;
    line-height: 20px;
    color: #7C64FF;
}

.about_text {
    font-weight: 700;
    font-size: 22px;
    color: #000000;
}

/*
@media (min-width: 1920px) {
    .about_label {
        font-size: 58px;
    }
    .about_wrapper {
        width: 900px;
        height: 500px;
    }
    .about_text {
        font-size: 28px;
    }
    .about_image {
        width: 600px;
        height: 600px;
    }
}

@media (min-width: 2560px) {
    .about_label {
        font-size: 82px;
    }
    .about_wrapper {
        width: 1600px;
        height: 750px;
    }
    .about_text {
        font-size: 46px;
    }
    .about_image {
        width: 900px;
        height: 900px;
        margin-top: 200px;
    }
}*/
