.card {
    width: 320px;
    height: 320px;
    background: linear-gradient(90deg, #AA00FF 0%, #816AFF 99.98%);
    border-radius: 30px;
    padding: 15px 15px 15px 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card_image {
    width: 140px;
    height: 140px;
}

.label {
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
    margin-top: 40px;
}

.card_button {
    width: 300px;
    height: 55px;
    background: linear-gradient(90deg, #262626 0%, #2B2B2B 100%);
    border-radius: 35px;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;

    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.card_button:hover {
    background: linear-gradient(180deg, #2c2c2c 0%, #545252 100%);
    transition: ease-in 1s;
}

@media screen and (min-width: 1920px) {
    .card {
        width: 420px;
        height: 420px;
    }

    .card_image {
        width: 190px;
        height: 190px;
    }

    .label {
        font-size: 42px;
    }
    .card_button {
        width: 320px;
        height: 60px;
        font-size: 38px;
    }
}

@media screen and (min-width: 2290px) {
    .card {
        width: 520px;
        height: 520px;
    }
    .card_image {
        width: 210px;
        height: 210px;
    }
    .label {
        font-size: 52px;
    }
    .card_button {
        width: 400px;
        height: 70px;
        font-size: 46px;
    }
}

@media screen and (min-width: 2560px) {
    .card {
        width: 700px;
        height: 700px;
        border-radius: 40px;
    }

    .card_image {
        width: 290px;
        height: 290px;
    }

    .label {
        font-size: 68px;
    }

    .card_button {
        width: 500px;
        height: 100px;
        font-size: 58px;
    }
}

@media screen and (min-width: 3840px) {
    .card {
        width: 1120px;
        height: 1120px;
        justify-content: space-evenly;
        border-radius: 50px;
    }

    .card_image {
        width: 450px;
        height: 450px;
    }

    .label {
        font-size: 104px;
    }

    .card_button {
        width: 800px;
        height: 150px;
        font-size: 86px;
    }
}

@media screen and (min-width: 5000px) {
    .card {
        width: 1520px;
        height: 1520px;
        justify-content: space-evenly;
        border-radius: 50px;
    }

    .card_image {
        width: 650px;
        height: 650px;
    }

    .label {
        font-size: 142px;
    }

    .card_button {
        width: 1000px;
        height: 200px;
        font-size: 112px;
    }
}