.main_image {
    position: fixed;
    top: 25%;
    width: 550px;
}

.card_wrapper {
    position: absolute;
    top: 100px;
    right: 30px;
    max-height: 500px;
    width: 720px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 1920px) {
    .main_image {
        width: 650px;
    }
    .card_wrapper {
        width: 950px;
    }
}

@media screen and (min-width: 2560px) {
    .main_image {
        width: 1000px;
    }
    .card_wrapper {
        top: 400px;
        width: 1450px;
    }
}

@media screen and (min-width: 3840px) {
    .main_image {
        top: 25%;
        width: 1600px;
    }
    .card_wrapper {
        top: 600px;
        width: 2150px;
    }
}
