.cards {
    min-height: 590px;
    min-width: 1315px;
    background: transparent;
    text-align: center;
    margin-top: 59px;
    flex-grow: 1;
}

.cards_label {
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    color: #000000;
}

.cards_sublabel {
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}

.cards_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 84px;
}

