.cards {
    max-width: 1315px;
    background: transparent;
    text-align: center;
    margin: 59px 0;
    flex-grow: 1;
}

.cards_wrapper {
    max-width: 100%;
    height: auto;
    margin-top: 84px;
    overflow: auto;

    display: flex;
    gap: 60px;
    justify-content: space-between; /* Изменили на nowrap */
}

.cards_label {
    color: #000000;
}

.cards_sublabel {
    font-weight: 500;
    font-size: 21px;
    color: #000000;
}

.card_container{
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
}

@media (max-width: 1315px) {
    .cards_wrapper {
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
}

@media (max-width: 992px) {
    .card_container {
        flex-basis: calc(50% - 10px);
    }
}

@media (max-width: 767px) {
    .card_container {
        flex-basis: 100%;
    }
}

