.cards {
    min-height: 590px;
    min-width: 1315px;
    background: transparent;
    text-align: center;
    margin-top: 59px;
}

.cards_label {
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    color: #000000;
}

.cards_sublabel {
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}

.cards_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 84px;
}

.card_label {
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
}

.card_wrapper {
    display: flex;
    margin-top: 31px;
    justify-content: space-between;
}

.card_button {
    width: 200px;
    height: 60px;
    background: rgba(31, 28, 28, 0.7);
    border-radius: 20px;
    transition: 0.4s;

    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
}

.card_button:hover {
    background: #FFFFFF;
    color: rgba(38, 38, 38, 0.7);
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
