.support {
    width: 100%;
    background: #F0F0F0;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    flex-grow: 1;
}

.support_wrapper{
    min-width: 1315px;
    padding: 83px 0 68px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.support_label {
    font-weight: 700;
    font-size: 35px;
    color: #000000;
}

.support_underlabel {
    font-weight: 500;
    font-size: 21px;
    color: #000000;
}

