#root {

}

.Main {
  height: 100vh;
  background-image: url('assets/background.svg');
  background-size: 72% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: grid;
  justify-content: center;
  justify-items: center;
  overflow-x: hidden;
}
