:root {
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

input {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}

button {
  outline: none;
  border: none;
  position: relative;
  display: inline-block;
  cursor: pointer;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

h1 {
  font-size: 56px;
  font-weight: 800;
  margin: 0;
}

h2 {
  font-size: 35px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

h3 {
  color: #F0F0F0;
  font-size: 30px;
  margin: 0;
}

h4 {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}

h5 {
  font-size: 22px;
  margin: 0;
}

h6 {
  font-weight: 500;
  font-size: 21px;
  color: #000000;
  margin: 0;
}


